<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tournamented</title>
  <!--icon in title bar-->
  <link rel="shortcut icon" href="../public/images/circleMegaphone.png" />
  <!-- STYLESHEETS -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i|Raleway:500,600" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  <!-- TODO: CHANGE PATH AFTER PULL REQUEST -->
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>

<body>
  <header>
    <h1><a href="#">Tournamented</a></h1>
  </header>
  <main>
    <div class="wrapper">

      <div class="main-box">
        <h2>Set up school</h2>
        <form>
          <input id="add-school" type="text" name="school" placeholder="School Name" />
          <button class = "inner-buttons" id="add-school">Add School</button>
          <!-- <input id="roundNumber" type="number" name="roundNumber"placeholder="Number of Rounds"> -->
        </form>

      </div>

      <div class ="nav-buttons">
      <button class ="back-button"><a href="index.html">Back</a></button>
      <!-- should appear when created tabs afe filled -->
      <button class ="continue-button"><a href="pairings.html">Continue</a></button>
    </div>

    </div>
  </main>

  <footer>
    <p>©2018 Ben Corman & Chris Kanyotu</p>
  </footer>

  <!-- SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
   <script src="scripts/app.js" defer></script>
</body>

</html>
